:root {
  /* Colors */
  --primary-light: #ba18da10;
  --primary: #ba18da;
  --primary-dark: #9b00ce;
  --secondary-light: #20aaa110;
  --secondary: #18817a;
  --secondary-dark: #12635e;
  --white: #ffffff;
  --black: #000000;
  --gray-lightest: #f0f0f0;
  --gray-lighter: #e6e6e6;
  --gray-light: #adadad;
  --gray: #757575;
  --gray-dark: #454545;
  --gray-darker: #171717;
  --gray-darkest: #5c5c5c;
  --success: #00a91c;
  --success-light: #ecf3ec;
  --warning: #ffbe2e;
  --warning-light: #fde68a;
  --error: #d54309;
  --error-light: #f4e3db;
  --info: #00bde3;
  --info-light: #e7f6f8;

  /* Misc Colors */
  --text-color: #1c1d26;
  --link-text-color: #276be9;
}

/* Global Styling */
main {
  margin: 24px 0;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 8px 0;
}

h2 {
  font-size: 20px;
}

hr {
  color: var(--gray-lightest);
}

p {
  font-size: 16px;
}

a {
  color: var(--link-text-color);
  text-decoration: none;
}

/* Grid Styling */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container:before {
  content: unset;
}

.grid-heading-left {
  width: 120px;
  display: flex;
  justify-content: flex-start;
}

.grid-heading-left > h2,
.grid-heading-right > h2 {
  font-weight: 700;
  white-space: nowrap;
}

.grid-heading-right {
  width: 120px;
  display: flex;
  justify-content: flex-end;
}

.grid-spacer {
  position: relative;
  top: 12px;
}

/* Utility Classes */
.font-bold {
  font-weight: 700;
}

@media only screen and (min-width: 1537px) {
  .grid-spacer {
    width: 1460px;
  }
}

@media only screen and (min-width: 1537px) and (max-width: 1920px) {
  .grid-spacer {
    width: 1160px;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1536px) {
  .grid-spacer {
    width: 960px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .grid-spacer {
    width: 660px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-spacer {
    width: 460px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
  h1 {
    padding-bottom: 24px;
  }

  .grid-spacer {
    width: 320px;
  }

  #create-app {
    width: 120px;
  }
}

@media only screen and (max-width: 640px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    padding-bottom: 24px;
  }

  .grid-heading-center,
  .grid-heading-right,
  .grid-heading-right > h2 {
    display: none;
  }

  #create-app {
    width: 120px;
  }
}
