@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    background-color: theme('colors.primary');
    color: theme('colors.white');
    border-color: theme('colors.primary');
  }

  .btn-primary:hover {
    background-color: theme('colors.primary-dark');
    border-color: theme('colors.primary-dark');
  }

  .btn-primary:active {
    background-color: theme('colors.primary-darker');
    border-color: theme('colors.primary-darker');
  }

  .btn-secondary {
    background-color: theme('colors.white');
    color: theme('colors.primary');
    border-color: theme('colors.primary');
  }

  .btn-secondary:hover {
    color: theme('colors.primary-dark');
    border-color: theme('colors.primary-dark');
  }

  .btn-secondary:active {
    color: theme('colors.primary-darker');
    border-color: theme('colors.primary-darker');
  }
}
