.context-menu {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  box-shadow:
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: #1b1b1b;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 24px;
  z-index: 2;
}

.context-menu button {
  top: -11px;
  right: 21px;
}

.context-menu button:hover,
.context-menu button:focus {
  background-color: transparent;
}

.context-menu-list {
  width: 151px;
}
