.card-dialog-body-wrapper {
  padding: 0px 24px 8px 24px;
}

.card-dialog-body {
  padding-bottom: 8px;
}
.card-dialog-note {
  color: hsl(var(--muted-foreground));
  font-family: var(--app-font-family, "Inter", sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.card-dialog-button-group {
  display: flex;
  padding: 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: hsl(var(--muted));
  margin-bottom: 0px;
}
