.align-vertical-center {
  vertical-align: middle;
  position: relative;
  top: -6px; /* Adjust this value as needed */
}

.icon-button {
  padding: 0 20px !important;
}

.icon-text {
  padding-left: 0.5rem;
  position: relative;
  top: -3px;
}

.actions {
  padding: 0;
}

.actions .action-button {
  min-width: 0px;
  padding: 0px 24px;
}

.actions .action-button:hover {
  background-color: transparent;
  border-radius: 50%;
}

.actions button.button-icon {
  min-width: 0px !important;
}

.actions button.button-icon:hover {
  background-color: transparent;
  border-radius: 50%;
}

.action-button {
  min-width: 0px !important;
  border-radius: 50% !important;
  margin: 0 1rem !important;
}

.truncate {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiDataGrid-menuIcon.base-Popper-root.MuiDataGrid-menu {
  display: none;
}

.app-header th {
  font-weight: 600;
}
