.card {
  height: 241px;
  width: 225px;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(210, 210, 207, 0.7);
}

.card > a {
  text-decoration: none;
}

#card-test-app {
  position: relative;
}
/* Card Header Section */
.card-content-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 33px 0;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 0%, #ece9e6 95.83%);
}

.card-content-header img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content-header .img-overlay,
.card-content-header .img-overlay-service {
  position: relative;
  display: inline-block;
}

.card-content-header .img-overlay::after {
  content: '';
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25); /* White overlay with 50% opacity */
  pointer-events: none; /* Allows click events to pass through to the underlying elements */
}

.card-content-header .chip-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 8px !important;
  top: 8px !important;
  z-index: 2;
}

/* Card Content Section */
.card-content-content {
  position: relative;
  z-index: 111;
  height: 110px;
}
.card-content-content .chip-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 12px;
  top: 12px;
}

.menu-chip {
  margin-right: 4px;
}

/* Card content Hovering effect */
.card-content-container:not(.no-hover) {
  background: #fff;
  position: relative;
  overflow: hidden;
}

.card-content-container {
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  top: 42px;
  padding: 0px;
}

.card-content-container.app-service {
  top: 15px;
}

.card-content-content .card-inner-content {
  position: relative;
  padding-top: 4px;
}

.card-title {
  max-width: 190px;
  overflow: hidden;
}

.card-author {
  letter-spacing: 0.4px;
}

.card-description {
  max-height: 0;
  opacity: 0;

  overflow: hidden;
}

/* Hover effects */
.card-content-container:hover:not(.no-hover) {
  transform: translateY(-36%);
  background: #fff;
  height: 111px;
}

.card-content-container:hover .card-description {
  opacity: 1;
  max-height: 4rem;
}

.card-content-container:hover .card-author:not(.no-hover) {
  opacity: 0;
  max-height: 0;
}

.card-content-content .content {
  padding: 0.5rem 1rem 1rem;
}

.card-content-content .card-inner-content .iconic {
  font-size: 1rem !important;
  position: relative;
  top: 3px;
  margin-right: 8px;
}

.card-content-content .card-content-container .card-title {
  font-size: 1rem !important;
  font-weight: bold !important;
  display: inline;
}
