.card {
  height: 241px;
  width: 286px;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 2px rgba(210, 210, 207, 0.7);
}

.card.service {
  height: 224px;
}

.card.service .card-content-content {
  height: 93px;
}

.card > a {
  text-decoration: none;
}

#card-test-app {
  position: relative;
}
/* Card Header Section */
.card-content-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  padding: 33px 0;
  overflow: hidden;
  background: linear-gradient(90deg, #fff 0%, #ece9e6 95.83%);
}

.card-content-header img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content-header .img-overlay,
.card-content-header .img-overlay-service {
  position: relative;
  display: inline-block;
}

.card-content-header .img-overlay::after {
  content: '';
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.25); /* White overlay with 50% opacity */
  pointer-events: none; /* Allows click events to pass through to the underlying elements */
}

.card-content-header .chip-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 8px !important;
  top: 8px !important;
  z-index: 2;
}

/* Card Content Section */
.card-content-content {
  position: relative;
  z-index: 111;
  height: 110px;
}

.menu-chip {
  margin-right: 4px;
}

/* Card content Hovering effect */
.card-content-container:not(.no-hover) {
  background: #fff;
  position: relative;
  overflow: hidden;
}

.card-content-container {
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card-content-container:not(.app-service) {
  padding: 12px 0 0 0;
}

.card-content-container.app-service {
  top: 16px;
}

.card-content-content .card-inner-content {
  position: relative;
  padding-top: 1px;
}

.card-title {
  max-width: 190px;
  overflow: hidden;
}

.card-author {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  letter-spacing: 0.4px;
}

.card-description {
  max-height: 25px;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-wrap: nowrap;
}

/* Hover effects */

.card-content-container-hover-1:hover {
  transform: translateY(-25%);
  height: 120px;
}

.card-content-container-hover-2:hover {
  transform: translateY(-30%);
  height: 140px;
}

.card-content-container-hover-3:hover {
  transform: translateY(-35%);
  height: 160px;
}

.card-content-container-hover-4:hover {
  transform: translateY(-40%);
  height: 180px;
}

.card-content-container-hover-5:hover {
  transform: translateY(-45%);
  height: 200px;
}

.card-content-container:hover .card-description {
  max-height: 100px;
  text-wrap: wrap;
  overflow: visible;
}

.card-content-container:hover .card-author:not(.no-hover) {
  opacity: 1;
  max-height: 30px;
}

.card-content-content .content {
  padding: 0.5rem 1rem 1rem;
}

/* .card-header {
  display: flex;
  align-items: center;
}

.inline.relative.iconic {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.card-title {
  display: flex;
  align-items: center;
} */

.card-content-content .card-inner-content .iconic {
  font-size: 1rem !important;
  position: relative;
  top: 2px;
  margin-right: 8px;
}

.card-content-content .card-content-container .card-title {
  font-size: 1rem !important;
  font-weight: bold !important;
  display: inline;
}

.card-content-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
