.form {
  max-width: 600px;
}

.form > .button-section {
  width: 100%;
  margin: 16px 0;
}

.form > .button-section > .prev {
  float: left;
}

.form > .button-section > .next {
  float: right;
}

.form-paragraph {
  max-width: 600px;
}

.form-paragraph-link {
  color: var(--link-text-color);
  text-decoration: underline;
}

.form-breadcrumb {
  margin: 0 0 16px 0;
}

@media screen and (max-width: 768px) {
  .form {
    max-width: unset;
  }
}

.description_text-field {
  position: relative;
  padding: 15px;
}

/* Styles for the placeholder text */
.placeholder-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(0, 0, 0, 0.87);
  transition: all 0.2s;
  pointer-events: none;
}

/* Styles when the description container is focused */
.description-container:focus-within {
  border-color: purple;
}

/* Styles for moving the placeholder text on focus */
.description-container:focus-within .placeholder-text {
  top: -10px;
  left: 10px;
  background: white;
  padding: 0 5px;
  font-size: 0.8em;
  color: purple;
}

/* Styles for hiding placeholder text when content is present */
.description-container:not(:empty) .placeholder-text {
  visibility: hidden;
}

.description_text-field:empty:before {
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, 0.57);
  pointer-events: none;
  display: block; /* For IE */
}

.description_text-field:empty:focus:before {
  content: attr(data-placeholder);
}

.description_text-field--not-empty + label {
  color: #000;
}

.description-label {
  position: absolute;
  left: 10px;
  top: 16px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
  background: #fff;
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.57);
  pointer-events: none;
}

/* Adjust label when focused or has content */
.description_text-field--not-empty + .description-label,
.description_text-field:focus + .description-label {
  top: -8px; /* Adjust as needed */
  font-size: 0.75rem;
  color: #ba18da; /* Active label color */
}

/* Styles to hide the placeholder when content is present */
.description_text-field:not(:empty)::before {
  display: none;
}

/* Placeholder styles */
.description_text-field::before {
  content: attr(data-placeholder);
  position: absolute;
  left: 15px;
  top: 16px;
  color: rgba(9, 10, 9, 0.57) !important; /* Placeholder color */
  pointer-events: none;
  display: block; /* For IE */
}

/* Adjust placeholder when focused */
.description_text-field:focus::before {
  content: '';
}

.form-control {
  position: relative;
  width: 100%;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  transition: border-color 0.3s;
}
.form-control:hover {
  border-color: black !important;
}

.form-control:focus-within {
  border: 2px solid #ba18da !important;
}

.form-helper-text {
  display: none;
  color: inherit;
  font-size: 1rem;
  position: absolute;
  right: 0;
  bottom: -30px;
}

.form-control:focus-within .form-helper-text {
  display: block;
}

.exceeding-characters {
  color: red;
}

.form-control.outer-div {
  height: 125px !important;
  margin-bottom: 0;
}

.description_text-field,
.overlay-text {
  outline: none;
  width: 100%;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  background-color: transparent;
}

.overlay-text {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  pointer-events: none;
  color: transparent;
  white-space: pre-wrap;
  overflow: hidden;
  z-index: 5;
  overflow-wrap: break-word;
}

.description_text-field,
.overlay-text {
  outline: none;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  resize: none;
  height: 125px !important;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  color: transparent;
  white-space: pre-wrap;
  overflow: hidden;
  z-index: 5;
}

.description-label {
  position: absolute;
  top: -15px;
  left: 8px;
  transform: translateY(50%);
  color: rgba(0, 0, 0, 0.57);
  background-color: transparent;
  transition: all 0.2s ease;
  pointer-events: none;
}

.description_text-field:focus + .description-label,
.description_text-field:not(:empty) + .description-label {
  top: -8px; /* Adjust as needed */
  font-size: 0.75rem;
  color: #ba18da; /* Active label color */
}

.description_text-field:not(:focus):not(:placeholder-shown)
  + .description-label {
  color: lime !important;
}
.form-control:focus-within .form-helper-text {
  display: block;
}

.description-label {
  position: absolute;
  left: 10px;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  transform-origin: left top;
  color: rgba(0, 0, 0, 0.54);
  pointer-events: none;
}

.textarea-container:focus-within .description-label,
.description-label.label-float {
  transform: translateY(5px);
  font-size: 12px;
  font-weight: 500;
  color: #ba18da;
}
